<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="css/dashboard.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
        <h2>Hi, <%= user?.name %></h2>
    </div>

    <div class="container">
        <!-- Sidebar (User List) -->
        <div class="user-list-container">
            <ul class="user-list">
                <% if(users.length > 0) { %>
                    <% for(let i = 0; i < users.length; i++) { %>
                        <li class="user-list-item" data-id="<%= users[i]['_id'] %>">
                            <img src="<%= 'http://127.0.0.1:3000/' + users[i]['image'] %>" alt="" width="40px" height="40px">
                            <%= users[i]['name'] %>
                            <% if(users[i]['is_online'] == 1) { %>
                                <sup class="online-status" id="<%= users[i]['_id'] %>-status">Online</sup>
                            <% } else { %>
                                <sup class="offline-status" id="<%= users[i]['_id'] %>-status">Offline</sup>
                            <% } %>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </div>

        <!-- Chat Section -->
        <div class="chat-section">
            <div class="chat-header">Click to Start the Chat</div>
            <div id="chat-container"></div>

            <form id="chat-form">
                <input type="text" name="message" placeholder="Enter Message" id="message" required>
                <button type="submit" class="send-btn">Send</button>
            </form>
        </div>
    </div>

    <script>
        var sender_id = '<%= user._id %>';
        var receiver_id;
        var socket = io('/user-namespace', {
            auth: { token: '<%= user._id %>' }
        });

        $(document).ready(function() {
            $('.user-list-item').click(function() {
                var userId = $(this).attr('data-id');
                receiver_id = userId;

                $('.chat-header').text("Chatting with " + $(this).text());
                $('#chat-container').html('');

                socket.emit('existsChat', { sender_id: sender_id, receiver_id: receiver_id });
            });
        });

        socket.on('getOnlineUser', function(data) {
            $('#' + data.user_id + '-status').text('Online').removeClass('offline-status').addClass('online-status');
        });

        socket.on('getOfflineUser', function(data) {
            $('#' + data.user_id + '-status').text('Offline').removeClass('online-status').addClass('offline-status');
        });

        $('#chat-form').submit(function(event) {
            event.preventDefault();

            var message = $('#message').val();
            if (!message.trim()) return;

            $.ajax({
                url: '/save-chat',
                type: 'POST',
                data: { sender_id: sender_id, receiver_id: receiver_id, message: message },
                success: function(response) {
                    if (response.success) {
                        $('#message').val('');
                        let chatHtml = `<div class='current-user-chat'>${response.data.message}</div>`;
                        $('#chat-container').append(chatHtml);
                        socket.emit('newChat', response.data);
                        scrollChat();
                    } else {
                        alert(response.msg);
                    }
                }
            });
        });

        socket.on('loadNewChat', function(data) {
            if (sender_id == data.receiver_id && receiver_id == data.sender_id) {
                let chatHtml = `<div class='distance-user-chat'>${data.message}</div>`;
                $('#chat-container').append(chatHtml);
                scrollChat();
            }
        });

        socket.on('loadChats', function(data) {
            $('#chat-container').html('');
            var chats = data.chats;
            let html = '';

            for (let chat of chats) {
                let addClass = (chat.sender_id == sender_id) ? 'current-user-chat' : 'distance-user-chat';
                html += `<div class='${addClass}'>${chat.message}</div>`;
            }
            $('#chat-container').append(html);
            scrollChat();
        });

        function scrollChat() {
            $('#chat-container').scrollTop($('#chat-container')[0].scrollHeight);
        }
    </script>

</body>
</html>
